body{
	width:100%;
	height:100%;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #333333;
}
h1,h2,h3 {
	margin:0 0 20px 0;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
}

p{
	margin:0 0 22px;
	font-size:18px;
	line-height:1.6em;
}

#contact{
	background:#333333;
	color:#f4f4f4;
}

textarea.form-control{
    height:100px;
}
li {
	 list-style: none !important;
}
a{
	text-decoration: none;
	color:#333333;
}
.button {
	background-color: #333333;
}
.boot {
	margin-top: 5px;
}
.img{
	padding: 0 !important;
}
img {
	width: 40px;
	height: 40px;
}
li {
	margin-left: 10px;
}
.img{
	padding: 0 !important;
	background-image: linear-gradient(to bottom,#444 0,#333 100%)!important;
}
