body,html {
	padding: 0;
	margin:0;
	background-color: #333333;
	font-family: 'Roboto Condensed', sans-serif;
}
li {
	margin-left: 10px;
}
.img{
	padding: 0 !important;
	background-image: linear-gradient(to bottom,#444 0,#333 100%)!important;
}
li img {
	width: 40px;
	height: 40px;
}
.span3 .well {
	margin-left:50%;
}
.container {
	margin-right: 0;
	margin-left: 0;
}