body,html {
	padding: 0;
	margin:0;
	background-color: #333333;
	font-family: 'Roboto Condensed', sans-serif;
	background-image: url('img/demo-1-bg.jpg');
}
img {
	width: 40px;
	height: 40px;
}
li {
	margin-left: 10px;
}
.img{
	padding: 0 !important;
	background-image: linear-gradient(to bottom,#444 0,#333 100%)!important;
}
.images {
	background-image: url('demo-1-bg.jpg');
}
