body,html {
	padding: 0;
	margin:0;
	background-color: #000;
	font-family: 'Roboto Condensed', sans-serif;
}
.navbar {
    margin-bottom: 0;
}
iframe {
	height: 100%;
}
#map {
	width: 100%;
	height: 85vh;
}
.footer-bottom {
	background-color: black;
	height: 8.6%;
}
img {
	width: 40px;
	height: 40px;
}
li {
	margin-left: 10px;
}
.img{
	padding: 0 !important;
	background-image: linear-gradient(to bottom,#444 0,#333 100%)!important;
}
